<div *ngIf="isLoading" class="w3-container  w3-center w3-text-white w3-padding-32">
  <h1>
    <b>Loading...</b>
  </h1>
</div>

<ng-container *ngIf="!isLoading">

  <div class="w3-row-padding">
    <!-- Repeat for every Personal Detail -->
    <ng-container *ngFor="let detail of personalDetails">
      <div class="w3-col s12 m6 l4 w3-section">
        <a (click)="select(detail)">
          <div class="w3-card w3-hover-shadow w3-padding w3-round" style="width:100%; background-color: #9abce3;">
            <li class="w3-padding-16"><span [innerHTML]="detail.label"></span></li>
            <li class="w3-padding-16">{{ detail.value }}</li>
          </div>
        </a>
      </div>
    </ng-container>


    <!-- This is is the ADD NEW card -->
    <div class="w3-col s12 m6 l4 w3-section">
      <div class="w3-card w3-hover-shadow w3-padding w3-round" style="width:100%; background-color: #9abce3;">
        <img src="..\assets\img\blue-plus-sign-hi.png" style="width:100%">
      </div>
    </div>
  </div>
  <!-- Two-way binding
   -->
  <app-personal-detail *ngIf="selectedPersonal" [detail]="selectedPersonal" (onClose)="closeChildComponent($event)"></app-personal-detail>

</ng-container>